PORT="{ADD BACKEND PORT NUMBER}"

DATABASE_URL="postgres://{USERNAME}:{PASSWORD}@localhost:{DB_PORT-NUMBER}/{DB-NAME}?schema=public"

SALT_ROUNDS={NUMBER OF SALT_ROUNDS}

JWT_SECRET="{SECRET-RANDOM-TOKEN}"